<div class="d-flex flex-row bd-highlight mb-3 comment-container">
  
    <div class="comment-user p-2 bd-highlight">
        <img class="comment-img" src="/avatars/{{user.avatar}}">
    </div>   

  <div class="p-2 bd-highlight" style="width: 100%;">
      <textarea type="text" class="form-control" name="commentBar" id="commentBar" placeholder="Write a comment..."></textarea>
  </div>
  
  <div class="p-2 bd-highlight">
    <img src="/img/pls.png" id="sendButton" title="Post Comment" class="send float-right" style = "cursor: pointer; height: 45px;  width: 51px; ">
  </div>

</div>

<div style="visibility: hidden">
    <span class="userCreditScoree" id="postid" >{{post_id}}</span>
    <span class="userCreditScoree" id="postuser" >{{post_user}}</span>
</div> 