<!DOCTYPE html>

<head>
    <title> Login | B4 Freedom Wall</title>
    <meta name="google-signin-client_id" content="436134069770-8noeso15h66pmn94790jkskieq3a3jl5.apps.googleusercontent.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/img/logo.png">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{!-- <script src="/js/login.js" type="text/javascript"></script> --}}
    <script src="https://kit.fontawesome.com/080b1bc218.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <div class = "template">
        <div class="scope">
            <div class = "header">
                <a class="logo" href="/" tabindex="-1" title="B4FW"></a>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <span id="login-continue" class="h5">To continue, log in to Freedom Wall.</span>
                </div>
            </div>
            <form id="login" method="POST" class="form-login" action="/">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" class="form-control" name="email" id="login-email" placeholder="Email" value="{{input.email}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="password" class="form-control" name="password" id="login-password" placeholder="Password">
                    </div>
                </div>
                <p id="login-error" style="color: red; margin-top: -5px">{{loginErrorMessage}}</p>
                <div class="row row-submit">
                    <div class="col-xs-12">
                        <div class="loginbuttonblock">
                            <button type="submit" id="loginbutton">LOG-IN</button>
                        </div>
                    </div>
                </div> 
            </form>
            <div class="row">
                <div id="error" style="margin-left: 165px; color: red; font-size:16px; font-weight:600;"></div>
                <div class="col-xs-12">
                    <div class="divider"></div>
                    <div class="col-xs-12 text-center">
                        <span id="account-continue" class="h3">Don't have an account?</span>
                    </div>

                    <div class="row row-submit">
                        <div class="col-xs-12">
                            <a href="/signup" class="btn btn-block btn-grey signup sign"><i class="fas fa-sign-in-alt"></i> SIGN UP NOW! </a>
                        </div>
                    </div>

                    <p class="text-center text-muted footer">Big Four: Freedom Wall</p>
                </div>
            </div>
        </div> 
    </div>


</body>     


</html>     